.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }
